@import "variable.scss";

main article .second_section {
  @include flex-box(flex, space-between, center, row, 30px);
  max-width: 1180px;
  margin: 82px auto 0px;
  padding: 0px 40px;
  .second_container {
    @include flex-box(flex, start, start, column, 29px);
    max-width: 585px;
    h3 {
      @include font-all("Playfair Display", 700, 54px, $main_h3_font_color);
    }
    p {
      @include font-all("Playfair Display", 400, 20px, $main_p_font_color);
      line-height: 34px;
    }
    button {
      @extend %button-style;
      @include font-all("Playfair Display", 700, 16px, $button-font-color);
      padding: 14px 24px 13px 23px;
    }
  }
  .image {
    @include image_html_properties(500px, 100%, contain);
  }
}

// вторая секция

main article .third_section {
  margin-top: 82px;
  width: 100%;
  background-color: $main-background-color;
  padding: 0px 93px;
  .third_container {
    @include flex-box(flex, flex-start, center, column, 0px);
    flex-wrap: wrap;
    max-width: 1180px;
    margin: auto;
    h3 {
      @include font-all("Playfair Display", 700, 54px, $main_h3_font_color);
      text-align: center;
    }
    .p_2 {
      margin-top: 16px;
      @include font-all("Playfair Display", 400, 20px, $main_p_font_color);
      line-height: 34px;
      text-align: center;
    }
    .elements_container {
      margin-top: 32px;
      @include flex-box(flex, center, center, row, 40px 20px);
      flex-wrap: wrap;
      img {
        @include image_html_properties(280px, 100%, contain);
      }
      .block {
        position: relative;
        max-width: 280px;
        border: $block_border_style;
        border-top: none;
        background-color: $block_backgroud_color;
        padding-bottom: 42px;
        @include flex-box(flex, center, center, column, 6px);
        h3 {
          @include font-all("Playfair Display", 700, 22px, $main_h3_font_color);
        }
        & :nth-child(3) {
          @include font-all(
            "Playfair Display",
            400,
            16px,
            $block_p2_font_color
          );
        }
        & :nth-child(4) {
          @include font-all("Playfair Display", 700, 18px, $main_h3_font_color);
        }
        button {
          @include position_style(absolute, -24px);
          @extend %button-style;
          padding: 14px 26px 13px;
          @include font-all("Playfair Display", 700, 16px, $button-font-color);
        }
      }
    }
  }
}

// четвёртая секция

main article .four_section {
  margin-top: 106px;
  width: 100%;
  background-color: $main-background-color;
  padding: 0px 93px;
  .four_container {
    max-width: 1180px;
    margin: auto;
    @include flex-box(flex, flex-start, center, column, 0px);
    h3 {
      @include font-all("Playfair Display", 700, 54px, $main_h3_font_color);
    }
    .four_description {
      margin-top: 16px;
      @include font-all("Playfair Display", 400, 20px, $main_p_font_color);
    }
    .block_container {
      @include flex-box(flex, center, center, row, 20px);
      flex-wrap: wrap;
      margin-top: 32px;

      .four_block {
        padding: 36px 0px;
        width: 280px;
        background-color: $four_block_backgroud_color_default;
        border: $block_border_style;
        @include flex-box(flex, flex-start, center, column, 0px);
        &.active {
          background-color: $four_block_backgroud_color;
          border: 1px solid rgba(255, 238, 216, 1);
        }
        .image_1 {
          @include image(
            url(../svg/coffee-beans_1.svg),
            88px,
            88px,
            no-repeat,
            contain
          );
        }
        .image_2 {
          @include image(url(../svg/badge.svg), 88px, 88px, no-repeat, contain);
        }
        .image_3 {
          @include image(
            url(../svg/coffee-cup.svg),
            88px,
            88px,
            no-repeat,
            contain
          );
        }
        .image_4 {
          @include image(
            url(../svg/best-price.svg),
            88px,
            88px,
            no-repeat,
            contain
          );
        }
        h4 {
          margin-top: 25px;
          text-align: center;
          @include font-all("Playfair Display", 700, 28px, $main_h3_font_color);
        }
        p {
          max-width: 201px;
          margin-top: 8px;
          text-align: center;
          @include font-all("Playfair Display", 400, 20px, $main_p_font_color);
        }
      }
    }
    span {
      margin-top: 32px;
      text-align: center;
      @include font-all("Playfair Display", 400, 20px, $main_p_font_color);
    }
    h4 {
      text-align: center;
      @include font-all("Playfair Display", 700, 30px, $main_h3_font_color);
    }
    button {
      margin-top: 24px;
      @extend %button-style;
      @include font-all("Playfair Display", 700, 16px, $button-font-color);
      padding: 14px 41px 13px;
    }
  }
}

// пятая секция

main article .five_section {
  margin-top: 82px;
  padding: 54px 93px 53px;
  @include image(url(../svg/Group_38.png), 100%, 100%, no-repeat, cover);
  .five_container {
    margin: auto;
    max-width: 1180px;
    @include flex-box(flex, space-between, center, row, 20px);
    .five_block_container {
      @include flex-box(flex, flex-start, flex-start, column, 22px);
      h3 {
        max-width: 575px;
        @include font-all("Playfair Display", 700, 54px, $white-font-color);
      }
      p {
        max-width: 409px;
        @include font-all("Playfair Display", 400, 20px, $white-font-color);
      }
      button {
        padding: 14px 27px 13px 26px;
        @extend %button-style;
        @include font-all("Playfair Display", 700, 16px, $button-font-color);
      }
    }
    .five_image_right {
      @include image_html_properties(100%, 467px, cover);
    }
  }
}

// шестая секция

main article .six_section {
  width: 100%;
  padding: 0px 152px;
  .six_container {
    margin: auto;
    max-width: 1062px;
    @include flex-box(flex, center, center, column, 0px);
    h3 {
      @include font-all("Playfair Display", 700, 54px, $main_h3_font_color);
    }
    .six_description {
      margin-top: 16px;
      @include font-all("Playfair Display", 400, 20px, $main_p_font_color);
      line-height: 34px;
    }
    .six_block_container {
      position: relative;
      background-color: $block_backgroud_color;
      border: $block_border_style;
      margin-top: 45px;
      padding: 129px 100px 101px;
      @include flex-box(flex, center, center, column, 0px);
      .block_description {
        max-width: 780px;
        @include font-all("Playfair Display", 600, 18px, $main_p_font_color);
        line-height: 36px;
        text-align: center;
      }
      h2 {
        @include position_top_left(absolute, 54px, 29px);
        line-height: 112px;
        @include font-all("Playfair Display", 700, 220px, $main_h3_font_color);
      }
      h4 {
        margin-top: 28px;
        @include font-all("Playfair Display", 700, 32px, $main_h3_font_color);
      }
      .block_description_after_name {
        margin-top: 4px;
        @include font-all("Playfair Display", 400, 20px, $main_h3_font_color);
      }
      .six_arrow_left {
        @include flex-box(flex, center, center, row, 0px);
        @include position_top_left(absolute, 221, -41px);
        background-position: center;
        border-radius: 16px;
        width: 82px;
        height: 82px;
        background-color: $button-backgroud;
        .six_img {
          @include image(
            url(../svg/arrow_left.svg),
            24px,
            24px,
            no-repeat,
            cover
          );
        }
      }
      .six_arrow_right {
        @include flex-box(flex, center, center, row, 0px);
        @include position_top_left(absolute, 221, auto);
        right: -41px;
        background-position: center;
        border-radius: 16px;
        width: 82px;
        height: 82px;
        background-color: $button-backgroud;
        .six_img {
          @include image(
            url(../svg/arrow_right.svg),
            24px,
            24px,
            no-repeat,
            cover
          );
        }
      }
      .image_bottom {
        @include image(
          url(../svg/portret.jpeg),
          112px,
          112px,
          no-repeat,
          cover
        );
        @include position_top_left(absolute, auto, auto);
        border-radius: 16px;
        bottom: -56px;
      }
    }
  }
}

img {
  display: block;
  margin-top: 138px;
  @include image_html_properties(100%, 100%, cover);
}

.backgroud_footer {
  @include image(url(../svg/footer_image.png), 100%, 100%, no-repeat, cover);
  padding: 0px 93px;
}

footer {
  max-width: 1180px;
  margin: auto;
  .main_container {
    padding: 162px 0px 40px;
    @include flex-box(flex, space-between, flex-start, row, 20px);
    .container {
      @include flex-box(flex, flex-start, flex-start, column, 0px);
      &.first_container {
        max-width: 380px;
        gap: 20px;
        h3 {
          @include font-all("Clicker Script", 400, 54px, $white-font-color);
        }
        p {
          @include font-all("Playfair Display", 400, 14px, $white-font-color);
        }
        .icon_container {
          @include flex-box(flex, space-between, center, row, 20px);
          max-width: 156px;
          .icon_1 {
            @include image(
              url(../svg/facebook.svg),
              24px,
              24px,
              no-repeat,
              contain
            );
          }
          .icon_2 {
            @include image(
              url(../svg/inst.svg),
              24px,
              24px,
              no-repeat,
              contain
            );
          }
          .icon_3 {
            @include image(
              url(../svg/youtube.svg),
              24px,
              24px,
              no-repeat,
              contain
            );
          }
          .icon_4 {
            @include image(
              url(../svg/twitter.svg),
              24px,
              24px,
              no-repeat,
              contain
            );
          }
        }
      }
      &.second_container {
        max-width: 136px;
        h4 {
          @include font-all("Playfair Display", 700, 26px, $white-font-color);
        }
        p {
          margin-top: 55px;
          @include font-all("Playfair Display", 400, 18px, $white-font-color);
          line-height: 42px;
        }
      }
      &.third_container {
        max-width: 134px;
        h4 {
          @include font-all("Playfair Display", 700, 26px, $white-font-color);
        }
        p {
          margin-top: 55px;
          @include font-all("Playfair Display", 400, 18px, $white-font-color);
          line-height: 42px;
        }
      }
      &.four_container {
        max-width: 332px;
        h4 {
          @include font-all("Playfair Display", 700, 26px, $white-font-color);
        }
        .p_container {
          margin-top: 31px;
          @include flex-box(flex, flex-start, flex-start, column, 22px);
          p {
            @include font-all("Playfair Display", 400, 18px, $white-font-color);
          }
        }
      }
    }
  }
}
